
venv/
__pycache__/
*.pyc
.DS_Store
.env
embeddings/glove.6B.100d.txt


# Model files (if too large for GitHub)
models/*.h5
models/*.pkl
vectorstore/

# Logs
logs/*.log

# IDE files
.vscode/
.idea/

# OS files
Thumbs.dbstreamlit/secrets.toml 

