# Core
python-dotenv
streamlit
pydantic
tqdm

# ML/DL/NLP
scikit-learn
pandas
numpy
matplotlib
nltk
spacy
transformers
sentence-transformers
tensorflow

# GenAI / OpenAI - LET DEPENDENCY RESOLVER PICK COMPATIBLE VERSIONS
langchain-openai
langchain
langchain-community
langchain-core
langchainhub
openai
tiktoken

# Vector Stores / RAG
faiss-cpu
chromadb

# File Parsing
PyPDF2
unstructured
python-docx
pdfminer.six



# Logging and Utility
loguru
termcolor
rich

# Deployment
gunicorn
uvicorn

# Add these for compatibility
typing-extensions
protobuf